In [1]:
import pandas as pd
import numpy as np
import requests

#### In order to get all the fixtures, starting from week 1, you have to add the extension 'future =0'

In [2]:
url = 'https://fantasy.premierleague.com/api/fixtures?future=0'

In [3]:
r = requests.get(url)

In [4]:
json = r.json()

In [5]:
def dict(list):
    for i in json:
        return i.keys()

In [6]:
json1 = dict(json)

In [7]:
print(json1)

dict_keys(['code', 'event', 'finished', 'finished_provisional', 'id', 'kickoff_time', 'minutes', 'provisional_start_time', 'started', 'team_a', 'team_a_score', 'team_h', 'team_h_score', 'stats', 'team_h_difficulty', 'team_a_difficulty', 'pulse_id'])

In [8]:
fixtures = pd.DataFrame(json)

In [9]:
fixtures.head(10)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2293057,NaN,False,False,248,None,0,False,None,5,NaN,15,NaN,[],3,4,75158
1,2292810,1.0,True,True,1,2022-08-05T19:00:00Z,90,False,True,1,2.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,74911
2,2292813,1.0,True,True,4,2022-08-06T11:30:00Z,90,False,True,12,2.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,74914
3,2292811,1.0,True,True,2,2022-08-06T14:00:00Z,90,False,True,2,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74912
4,2292814,1.0,True,True,5,2022-08-06T14:00:00Z,90,False,True,20,1.0,11,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74915
5,2292816,1.0,True,True,7,2022-08-06T14:00:00Z,90,False,True,16,0.0,15,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,74917
6,2292817,1.0,True,True,8,2022-08-06T14:00:00Z,90,False,True,17,1.0,18,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74918
7,2292812,1.0,True,True,3,2022-08-06T16:30:00Z,90,False,True,6,1.0,8,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74913
8,2292815,1.0,True,True,6,2022-08-07T13:00:00Z,90,False,True,4,2.0,10,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,74916
9,2292818,1.0,True,True,9,2022-08-07T13:00:00Z,90,False,True,5,2.0,14,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,74919

##### You can then covert your dataframe to a CSV file. You can head over to excel to map the club names to their numbers. So for the fixtures schedule you only need the team_a (Away Team) and team_h columns (Home Team).

In [10]:
fixtures.to_csv('Fixtures.csv')